#buttonsNumR1, #buttonsNumR2, #buttonsNumR3, #buttonsNumR4, #buttonsNumR5{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    height: 20%;
}

#buttonsNumR5{
    justify-content: flex-end;
}

#buttonsContainNum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
  }

.number, .operand {
  background-color: olive;
  color: black;
  flex-basis: 25%;
  aspect-ratio: 1/1;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#maincontainer{
    height: 500px;
    width: 300px;
    background-color: beige;
    border: 2px solid gray;
    border-radius: 5px;
}

#display{
    background-color: black;
    color: white;
    height :100px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    font-size: 32px;
}

#buttonsContain {
    display: flex;
    flex-basis: 100%;
  }
#buttonsOp{
    display: flex;
    flex-direction: column;
    
}

body{
display: flex;
justify-content: center;
margin-top: 10%;
}